
.grid {
  display: grid;
  margin: 35px;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  max-width: 660px;       
  place-items: center;    
}

.card {
  width: 130px;
  height: 130px;
  background: radial-gradient(circle, rgb(255,0,0) 20%, rgb(255,222,0) 90%);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.card.shrinking {
  transform: scale(0.6);
}

.card:hover {
  box-shadow: 0px 0px 9px 2px white;
}

.poke-img img {
  object-fit: contain;
  scale: 1.4;
}

.instructions {
  max-height: fit-content;
  align-self: center;
  text-align: center;
  max-width: 400px;
  font-size: 30px;
  padding: 10px;
  background-color: rgb(59,76,202);
  color: rgb(255,222,0);
  border-radius: 10px;
  box-shadow: 4px 4px rgb(255,222,0);
}

.instructions h2 {
  margin-top: 10px;
}