
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  place-items: center;
  grid-area: board;
  padding: 0 30px 0 30px;
  justify-self: center;
  justify-content: center;
  width: 100%
}

.card {
  width: 130px;
  height: 130px;
  background: radial-gradient(circle, rgb(255,0,0) 20%, rgb(255,222,0) 90%);
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.shrinking {
  transform: scale(0.6);
}

.card:hover {
  box-shadow: 0px 0px 9px 2px white;
  transform: scale(1.05);
}

.card:hover .poke-img img {
  scale: 1.8;
}

.poke-img img {
  object-fit: contain;
  scale: 1.4;
}

.instructions, .restart-div {
  max-height: fit-content;
  align-self: center;
  text-align: center;
  max-width: 400px;
  font-size: 30px;
  padding: 0px 10px 0px 10px;
  background-color: rgb(59,76,202);
  color: rgb(255,222,0);
  border-radius: 10px;
  box-shadow: 4px 4px rgb(255,222,0);
  grid-area: rules;
  justify-self: center;
}

.restart-div {
  margin-top: 50px;
  padding-top: 20px
}

.play-again {
  margin: 20px;
  border-color: rgb(255,0,0)
}


.instructions h2 {
  margin-top: 15px;
  margin-bottom: 0px;
}

.game-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 8fr 1fr 16fr;
    grid-template-areas: "rules gap board";
    margin: 20px 2% 0px 2%;
}

.gap-div {
    grid-area: gap;
}



@media (max-width: 1100px) {
    .game-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "rules"
            "gap"
            "board";
    }
    .gap-div {
        height: 50px;
    }
    .instructions p {
        margin: 5px
    }
    .card {
      width: 100px;
      height: 100px
    }
    .poke-img img {
      scale: 1.2;
    }
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      margin-bottom: 40px ;
    }
    .card:hover .poke-img img {
    scale: 1.4;
    }


    
}

