* {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(253, 158, 158);
    
}

.game-container {
    height: 100vh
}

button {
    font-size: 30px;
    color: rgb(255,222,0);
    background-color: rgb(59,76,202);
    border-radius: 10px;
    padding: 4px 15px 4px 15px;
}