.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0px 2% 0px 2%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
}

.nav-bar img {
    width: 300px;
    margin-top: 10px;
}

.difficulty-div {
    display: flex;
    gap: 15px;
}

@media (max-width: 500px) {
    .nav-bar {
        justify-content: center;
        padding-bottom: 15px;
    }
    
}
